PORT=4000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/foodrush
CORS_ORIGIN=*

# Odoo Configuration
ODOO_URL=https://votre-instance.odoo.com
ODOO_DB=votre_base_de_donnees
ODOO_USER=votre_email
ODOO_PASSWORD=votre_api_key_ou_password

NODE_ENV=production